In [1]:
import pandas as pd
import numpy as np

In [2]:
df_train = pd.read_csv('../assets/train.csv')

In [3]:
df_train.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0

In [4]:
df_train.shape

(10506, 12)

In [5]:
df_train.sort_values('Trap')

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
359,2007-07-11,"4000 North Tripp Avenue, Chicago, IL 60641, USA",CULEX PIPIENS/RESTUANS,40,N TRIPP AVE,T001,"4000 N TRIPP AVE, Chicago, IL",41.953705,-87.733974,8,1,0
2269,2007-08-21,"4000 North Tripp Avenue, Chicago, IL 60641, USA",CULEX PIPIENS,40,N TRIPP AVE,T001,"4000 N TRIPP AVE, Chicago, IL",41.953705,-87.733974,8,1,0
3102,2007-09-12,"4000 North Tripp Avenue, Chicago, IL 60641, USA",CULEX PIPIENS/RESTUANS,40,N TRIPP AVE,T001,"4000 N TRIPP AVE, Chicago, IL",41.953705,-87.733974,8,1,0
1896,2007-08-15,"4000 North Tripp Avenue, Chicago, IL 60641, USA",CULEX PIPIENS,40,N TRIPP AVE,T001,"4000 N TRIPP AVE, Chicago, IL",41.953705,-87.733974,8,5,0
1895,2007-08-15,"4000 North Tripp Avenue, Chicago, IL 60641, USA",CULEX PIPIENS/RESTUANS,40,N TRIPP AVE,T001,"4000 N TRIPP AVE, Chicago, IL",41.953705,-87.733974,8,5,0
3677,2007-10-04,"4000 North Tripp Avenue, Chicago, IL 60641, USA",CULEX PIPIENS,40,N TRIPP AVE,T001,"4000 N TRIPP AVE, Chicago, IL",41.953705,-87.733974,8,1,0
1567,2007-08-07,"4000 North Tripp Avenue, Chicago, IL 60641, USA",CULEX PIPIENS,40,N TRIPP AVE,T001,"4000 N TRIPP AVE, Chicago, IL",41.953705,-87.733974,8,1,0
1566,2007-08-07,"4000 North Tripp Avenue, Chicago, IL 60641, USA",CULEX PIPIENS/RESTUANS,40,N TRIPP AVE,T001,"4000 N TRIPP AVE, Chicago, IL",41.953705,-87.733974,8,1,0
3678,2007-10-04,"4000 North Tripp Avenue, Chicago, IL 60641, USA",CULEX TERRITANS,40,N TRIPP AVE,T001,"4000 N TRIPP AVE, Chicago, IL",41.953705,-87.733974,8,1,0
973,2007-08-01,"4000 North Tripp Avenue, Chicago, IL 60641, USA",CULEX PIPIENS,40,N TRIPP AVE,T001,"4000 N TRIPP AVE, Chicago, IL",41.953705,-87.733974,8,1,0
972,2007-08-01,"4000 North Tripp Avenue, Chicago, IL 60641, USA",CULEX PIPIENS/RESTUANS,40,N TRIPP AVE,T001,"4000 N TRIPP AVE, Chicago, IL",41.953705,-87.733974,8,2,0
971,2007-08-01,"4000 North Tripp Avenue, Chicago, IL 60641, USA",CULEX PIPIENS/RESTUANS,40,N TRIPP AVE,T001,"4000 N TRIPP AVE, Chicago, IL",41.953705,-87.733974,8,1,0
2604,2007-08-24,"4000 North Tripp Avenue, Chicago, IL 60641, USA",CULEX PIPIENS/RESTUANS,40,N TRIPP AVE,T001,"4000 N TRIPP AVE, Chicago, IL",41.953705,-87.733974,8,2,0
136,2007-06-26,"4000 North Tripp Avenue, Chicago, IL 60641, USA",CULEX PIPIENS/RESTUANS,40,N TRIPP AVE,T001,"4000 N TRIPP AVE, Chicago, IL",41.953705,-87.733974,8,1,0
487,2007-07-18,"4000 North Tripp Avenue, Chicago, IL 60641, USA",CULEX PIPIENS,40,N TRIPP AVE,T001,"4000 N TRIPP AVE, Chicago, IL",41.953705,-87.733974,8,1,0
4564,2009-07-10,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,4,0
4894,2009-07-24,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,4,0
10302,2013-09-19,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,4,0
4893,2009-07-24,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,18,0
4448,2009-07-06,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,3,0
4892,2009-07-24,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,40,0
4891,2009-07-24,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,50,0
4890,2009-07-24,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,50,1
4889,2009-07-24,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,25,0
4449,2009-07-06,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,12,0
4888,2009-07-24,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,50,0
4727,2009-07-17,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,3,0
4726,2009-07-17,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,14,0
4450,2009-07-06,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
4560,2009-07-10,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,29,0
...,...,...,...,...,...,...,...,...,...,...,...,...
8030,2011-09-23,"Ohare Court, Bensenville, IL 60106, USA",CULEX RESTUANS,10,W OHARE,T903,"1000 W OHARE, Chicago, IL",41.957799,-87.930995,5,6,0
8029,2011-09-23,"Ohare Court, Bensenville, IL 60106, USA",CULEX PIPIENS/RESTUANS,10,W OHARE,T903,"1000 W OHARE, Chicago, IL",41.957799,-87.930995,5,2,0
5728,2009-09-14,"Ohare Court, Bensenville, IL 60106, USA",CULEX PIPIENS,10,W OHARE,T903,"1000 W OHARE, Chicago, IL",41.957799,-87.930995,5,1,0
7199,2011-08-05,"Ohare Court, Bensenville, IL 60106, USA",CULEX RESTUANS,10,W OHARE,T903,"1000 W OHARE, Chicago, IL",41.957799,-87.930995,5,3,0
7198,2011-08-05,"Ohare Court, Bensenville, IL 60106, USA",CULEX RESTUANS,10,W OHARE,T903,"1000 W OHARE, Chicago, IL",41.957799,-87.930995,5,7,1
7197,2011-08-05,"Ohare Court, Bensenville, IL 60106, USA",CULEX PIPIENS/RESTUANS,10,W OHARE,T903,"1000 W OHARE, Chicago, IL",41.957799,-87.930995,5,39,1
7916,2011-09-16,"Ohare Court, Bensenville, IL 60106, USA",CULEX RESTUANS,10,W OHARE,T903,"1000 W OHARE, Chicago, IL",41.957799,-87.930995,5,3,0
7917,2011-09-16,"Ohare Court, Bensenville, IL 60106, USA",CULEX RESTUANS,10,W OHARE,T903,"1000 W OHARE, Chicago, IL",41.957799,-87.930995,5,6,0
7918,2011-09-16,"Ohare Court, Bensenville, IL 60106, USA",CULEX PIPIENS,10,W OHARE,T903,"1000 W OHARE, Chicago, IL",41.957799,-87.930995,5,31,0
7919,2011-09-16,"Ohare Court, Bensenville, IL 60106, USA",CULEX PIPIENS,10,W OHARE,T903,"1000 W OHARE, Chicago, IL",41.957799,-87.930995,5,16,1
6428,2011-06-30,"Ohare Court, Bensenville, IL 60106, USA",CULEX PIPIENS,10,W OHARE,T903,"1000 W OHARE, Chicago, IL",41.957799,-87.930995,5,40,0
6427,2011-06-30,"Ohare Court, Bensenville, IL 60106, USA",CULEX RESTUANS,10,W OHARE,T903,"1000 W OHARE, Chicago, IL",41.957799,-87.930995,5,20,0
9847,2013-08-22,"Ohare Court, Bensenville, IL 60106, USA",CULEX PIPIENS/RESTUANS,10,W OHARE,T903,"1000 W OHARE, Chicago, IL",41.957799,-87.930995,5,2,0
6426,2011-06-30,"Ohare Court, Bensenville, IL 60106, USA",CULEX PIPIENS/RESTUANS,10,W OHARE,T903,"1000 W OHARE, Chicago, IL",41.957799,-87.930995,5,35,0
4447,2009-06-29,"Ohare Court, Bensenville, IL 60106, USA",CULEX PIPIENS/RESTUANS,10,W OHARE,T903,"1000 W OHARE, Chicago, IL",41.957799,-87.930995,5,7,0
5571,2009-08-27,"Ohare Court, Bensenville, IL 60106, USA",CULEX PIPIENS/RESTUANS,10,W OHARE,T903,"1000 W OHARE, Chicago, IL",41.957799,-87.930995,5,2,0
9520,2013-08-08,"Ohare Court, Bensenville, IL 60106, USA",CULEX PIPIENS,10,W OHARE,T903,"1000 W OHARE, Chicago, IL",41.957799,-87.930995,5,3,0
5628,2009-09-03,"Ohare Court, Bensenville, IL 60106, USA",CULEX PIPIENS/RESTUANS,10,W OHARE,T903,"1000 W OHARE, Chicago, IL",41.957799,-87.930995,5,3,0
5629,2009-09-03,"Ohare Court, Bensenville, IL 60106, USA",CULEX RESTUANS,10,W OHARE,T903,"1000 W OHARE, Chicago, IL",41.957799,-87.930995,5,1,0
7059,2011-07-29,"Ohare Court, Bensenville, IL 60106, USA",CULEX PIPIENS,10,W OHARE,T903,"1000 W OHARE, Chicago, IL",41.957799,-87.930995,5,19,0
7058,2011-07-29,"Ohare Court, Bensenville, IL 60106, USA",CULEX PIPIENS,10,W OHARE,T903,"1000 W OHARE, Chicago, IL",41.957799,-87.930995,5,23,0
7057,2011-07-29,"Ohare Court, Bensenville, IL 60106, USA",CULEX RESTUANS,10,W OHARE,T903,"1000 W OHARE, Chicago, IL",41.957799,-87.930995,5,10,1
7056,2011-07-29,"Ohare Court, Bensenville, IL 60106, USA",CULEX PIPIENS/RESTUANS,10,W OHARE,T903,"1000 W OHARE, Chicago, IL",41.957799,-87.930995,5,15,0
7055,2011-07-29,"Ohare Court, Bensenville, IL 60106, USA",CULEX PIPIENS/RESTUANS,10,W OHARE,T903,"1000 W OHARE, Chicago, IL",41.957799,-87.930995,5,18,1
10271,2013-09-12,"Ohare Court, Bensenville, IL 60106, USA",CULEX PIPIENS/RESTUANS,10,W OHARE,T903,"1000 W OHARE, Chicago, IL",41.957799,-87.930995,5,10,0
8816,2013-07-12,"Ohare Court, Bensenville, IL 60106, USA",CULEX RESTUANS,10,W OHARE,T903,"1000 W OHARE, Chicago, IL",41.957799,-87.930995,5,6,0
5726,2009-09-14,"Ohare Court, Bensenville, IL 60106, USA",CULEX PIPIENS/RESTUANS,10,W OHARE,T903,"1000 W OHARE, Chicago, IL",41.957799,-87.930995,5,11,0
5727,2009-09-14,"Ohare Court, Bensenville, IL 60106, USA",CULEX RESTUANS,10,W OHARE,T903,"1000 W OHARE, Chicago, IL",41.957799,-87.930995,5,1,0
9162,2013-07-25,"Ohare Court, Bensenville, IL 60106, USA",CULEX RESTUANS,10,W OHARE,T903,"1000 W OHARE, Chicago, IL",41.957799,-87.930995,5,3,0
6212,2011-06-17,"Ohare Court, Bensenville, IL 60106, USA",CULEX PIPIENS/RESTUANS,10,W OHARE,T903,"1000 W OHARE, Chicago, IL",41.957799,-87.930995,5,2,0

In [6]:
df_train.sort_values('Trap').Trap.unique()

array(['T001', 'T002', 'T003', 'T004', 'T005', 'T006', 'T007', 'T008',
       'T009', 'T011', 'T012', 'T013', 'T014', 'T015', 'T016', 'T017',
       'T018', 'T019', 'T025', 'T027', 'T028', 'T030', 'T031', 'T033',
       'T034', 'T035', 'T036', 'T037', 'T039', 'T040', 'T043', 'T044',
       'T045', 'T046', 'T047', 'T048', 'T049', 'T050', 'T051', 'T054',
       'T054C', 'T060', 'T061', 'T062', 'T063', 'T065', 'T066', 'T067',
       'T069', 'T070', 'T071', 'T072', 'T073', 'T074', 'T075', 'T076',
       'T077', 'T078', 'T079', 'T080', 'T081', 'T082', 'T083', 'T084',
       'T085', 'T086', 'T088', 'T089', 'T090', 'T091', 'T092', 'T094',
       'T094B', 'T095', 'T096', 'T097', 'T099', 'T100', 'T102', 'T103',
       'T107', 'T114', 'T115', 'T128', 'T129', 'T135', 'T138', 'T141',
       'T142', 'T143', 'T144', 'T145', 'T146', 'T147', 'T148', 'T149',
       'T150', 'T151', 'T152', 'T153', 'T154', 'T155', 'T156', 'T157',
       'T158', 'T159', 'T160', 'T161', 'T162', 'T200', 'T206', 'T209',
       'T212', 'T215', 'T218', 'T219', 'T220', 'T221', 'T222', 'T223',
       'T224', 'T225', 'T226', 'T227', 'T228', 'T229', 'T230', 'T231',
       'T232', 'T233', 'T235', 'T236', 'T237', 'T238', 'T900', 'T903'], dtype=object)

In [7]:
df_train.sort_values('AddressAccuracy').AddressAccuracy.unique()

array([3, 5, 8, 9])

In [8]:
df_train.describe()

,Block,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
count,10506.000000,10506.000000,10506.000000,10506.000000,10506.000000,10506.000000
mean,35.687797,41.841139,-87.699908,7.819532,12.853512,0.052446
std,24.339468,0.112742,0.096514,1.452921,16.133816,0.222936
min,10.000000,41.644612,-87.930995,3.000000,1.000000,0.000000
25%,12.000000,41.732984,-87.760070,8.000000,2.000000,0.000000
50%,33.000000,41.846283,-87.694991,8.000000,5.000000,0.000000
75%,52.000000,41.954690,-87.627796,9.000000,17.000000,0.000000
max,98.000000,42.017430,-87.531635,9.000000,50.000000,1.000000

In [9]:
df_train[df_train.WnvPresent == 1].describe(include=['object'])

,Date,Address,Species,Street,Trap,AddressNumberAndStreet
count,551,551,551,551,551,551
unique,53,99,3,92,97,99
top,2013-08-29,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL"
freq,38,66,262,66,66,66

In [10]:
df_train[df_train.WnvPresent == 1].Species.unique()

array(['CULEX PIPIENS/RESTUANS', 'CULEX PIPIENS', 'CULEX RESTUANS'], dtype=object)

In [11]:
df_train.Species.unique()

array(['CULEX PIPIENS/RESTUANS', 'CULEX RESTUANS', 'CULEX PIPIENS',
       'CULEX SALINARIUS', 'CULEX TERRITANS', 'CULEX TARSALIS',
       'CULEX ERRATICUS'], dtype=object)

In [24]:
df_w = pd.read_csv('../assets/weather.csv')
df_w.sort_values('Date').head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9

In [26]:
df_s = pd.read_csv('../assets/spray.csv')
df_s.sort_values('Date').describe

<bound method DataFrame.describe of              Date        Time   Latitude  Longitude
0      2011-08-29  6:56:58 PM  42.391623 -88.089163
69     2011-08-29  7:09:58 PM  42.390335 -88.096443
68     2011-08-29  7:09:48 PM  42.390642 -88.096440
67     2011-08-29  7:09:38 PM  42.390952 -88.096437
66     2011-08-29  7:09:28 PM  42.391238 -88.096468
65     2011-08-29  7:09:18 PM  42.391270 -88.096035
64     2011-08-29  7:09:08 PM  42.391275 -88.095608
63     2011-08-29  7:08:58 PM  42.391297 -88.095203
62     2011-08-29  7:08:48 PM  42.391518 -88.095143
61     2011-08-29  7:08:38 PM  42.391860 -88.095140
70     2011-08-29  7:10:08 PM  42.390048 -88.096435
60     2011-08-29  7:08:28 PM  42.392197 -88.095163
58     2011-08-29  7:07:38 PM  42.393678 -88.095593
57     2011-08-29  7:07:28 PM  42.393603 -88.095917
56     2011-08-29  7:07:18 PM  42.393488 -88.096267
55     2011-08-29  7:07:08 PM  42.393193 -88.096447
54     2011-08-29  7:06:58 PM  42.392838 -88.096445
53     2011-08-29  7:06:48 PM  42.392463 -88.096435
52     2011-08-29  7:06:38 PM  42.392247 -88.095980
51     2011-08-29  7:06:28 PM  42.392237 -88.095455
50     2011-08-29  7:06:18 PM  42.392348 -88.095140
59     2011-08-29  7:08:18 PM  42.392527 -88.095148
49     2011-08-29  7:06:08 PM  42.392647 -88.095138
71     2011-08-29  7:10:18 PM  42.389870 -88.096258
73     2011-08-29  7:10:38 PM  42.389858 -88.095487
94     2011-08-29  7:15:28 PM  42.392508 -88.093847
93     2011-08-29  7:15:18 PM  42.392183 -88.093767
92     2011-08-29  7:14:58 PM  42.392308 -88.093873
91     2011-08-29  7:14:48 PM  42.392587 -88.093867
90     2011-08-29  7:14:38 PM  42.392902 -88.093853
...           ...         ...        ...        ...
14198  2013-09-05  8:22:03 PM  42.005612 -87.809190
14227  2013-09-05  7:31:06 PM  42.011462 -87.817765
14225  2013-09-05  8:35:03 PM  42.006778 -87.816410
14200  2013-09-05  8:22:23 PM  42.004717 -87.809198
14201  2013-09-05  8:22:33 PM  42.004567 -87.809610
14202  2013-09-05  8:22:43 PM  42.004533 -87.810227
14203  2013-09-05  8:22:53 PM  42.004517 -87.810937
14204  2013-09-05  8:23:03 PM  42.004512 -87.811457
14205  2013-09-05  8:23:13 PM  42.004473 -87.812167
14206  2013-09-05  8:23:23 PM  42.004940 -87.812283
14207  2013-09-05  8:23:33 PM  42.005482 -87.812280
14208  2013-09-05  8:23:43 PM  42.006063 -87.812260
14209  2013-09-05  8:23:53 PM  42.006618 -87.812263
14210  2013-09-05  8:24:03 PM  42.007163 -87.812263
14211  2013-09-05  8:24:13 PM  42.007670 -87.812273
14212  2013-09-05  8:24:23 PM  42.008173 -87.812275
14213  2013-09-05  8:24:33 PM  42.008697 -87.812277
14214  2013-09-05  8:24:43 PM  42.009228 -87.812278
14215  2013-09-05  8:31:43 PM  42.009898 -87.812218
14216  2013-09-05  8:31:53 PM  42.010542 -87.812220
14217  2013-09-05  8:33:43 PM  42.011257 -87.816367
14218  2013-09-05  8:33:53 PM  42.010720 -87.816362
14219  2013-09-05  8:34:03 PM  42.010142 -87.816373
14220  2013-09-05  8:34:13 PM  42.009588 -87.816397
14221  2013-09-05  8:34:23 PM  42.009033 -87.816393
14222  2013-09-05  8:34:33 PM  42.008443 -87.816412
14223  2013-09-05  8:34:43 PM  42.007913 -87.816418
14224  2013-09-05  8:34:53 PM  42.007373 -87.816382
14226  2013-09-05  8:35:13 PM  42.006233 -87.816385
14834  2013-09-05  8:35:41 PM  42.004805 -87.817460

[14835 rows x 4 columns]>

In [25]:
df_train.sort_values('Date').head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
24,2007-05-29,"8900 South Carpenter Street, Chicago, IL 60620...",CULEX RESTUANS,89,S CARPENTER ST,T159,"8900 S CARPENTER ST, Chicago, IL",41.732984,-87.649642,8,1,0
23,2007-05-29,"1500 North Long Avenue, Chicago, IL 60651, USA",CULEX RESTUANS,15,N LONG AVE,T153,"1500 N LONG AVE, Chicago, IL",41.907645,-87.760886,8,1,0
22,2007-05-29,"7500 North Oakley Avenue, Chicago, IL 60645, USA",CULEX PIPIENS/RESTUANS,75,N OAKLEY AVE,T148,"7500 N OAKLEY AVE, Chicago, IL",42.017430,-87.687769,8,1,0
21,2007-05-29,"6500 North Oak Park Avenue, Chicago, IL 60631,...",CULEX PIPIENS/RESTUANS,65,N OAK PARK AVE,T143,"6500 N OAK PARK AVE, Chicago, IL",41.999129,-87.795585,8,1,0

In [20]:
df_w.sort_values('Date')
df_w.sort_values('Station')
df_w.Station.unique()       # return the unique values
df_w.columns
df_w.dtypes
def eda(dataframe):
    print "missing values\n", dataframe.isnull().sum()  # count how many null values are in each series
    print('')                                           # creates a blank row
    print "dataframe types \n", dataframe.dtypes        # data types
    print('')
    print "dataframe shape \n", dataframe.shape         # row count, column count
    print('')
    print "dataframe describe \n", dataframe.describe() # count, mean, stand dev, min, max, Q1, Median, Q3
    print(' ')
    print 'duplicates \n', dataframe.duplicated().sum() # True if a row is identical to a previous row
#     print 'drop dups \n', dataframe.drop_duplicates()    # Drop the duplicate rows
    print(' ')
    print('number of unique values for each column')
    for item in dataframe:
        print item
        print(' ')
        print dataframe[item].nunique()                 # number of unique values for each column

print 'Weather Dataframe EDA'
print eda(df_w)
print 'Training Dataframe EDA'
print eda(df_train)
print ''

missing values
Station        0
Date           0
Tmax           0
Tmin           0
Tavg           0
Depart         0
DewPoint       0
WetBulb        0
Heat           0
Cool           0
Sunrise        0
Sunset         0
CodeSum        0
Depth          0
Water1         0
SnowFall       0
PrecipTotal    0
StnPressure    0
SeaLevel       0
ResultSpeed    0
ResultDir      0
AvgSpeed       0
dtype: int64

dataframe types
Station          int64
Date            object
Tmax             int64
Tmin             int64
Tavg            object
Depart          object
DewPoint         int64
WetBulb         object
Heat            object
Cool            object
Sunrise         object
Sunset          object
CodeSum         object
Depth           object
Water1          object
SnowFall        object
PrecipTotal     object
StnPressure     object
SeaLevel        object
ResultSpeed    float64
ResultDir        int64
AvgSpeed        object
dtype: object

dataframe shape
(2944, 22)

dataframe describe
           Station         Tmax         Tmin     DewPoint  ResultSpeed  \
count  2944.000000  2944.000000  2944.000000  2944.000000  2944.000000
mean      1.500000    76.166101    57.810462    53.457880     6.960666
std       0.500085    11.461970    10.381939    10.675181     3.587527
min       1.000000    41.000000    29.000000    22.000000     0.100000
25%       1.000000    69.000000    50.000000    46.000000     4.300000
50%       1.500000    78.000000    59.000000    54.000000     6.400000
75%       2.000000    85.000000    66.000000    62.000000     9.200000
max       2.000000   104.000000    83.000000    75.000000    24.100000

         ResultDir
count  2944.000000
mean     17.494905
std      10.063609
min       1.000000
25%       7.000000
50%      19.000000
75%      25.000000
max      36.000000

duplicates
0

number of unique values for each column
Station

2
Date

1472
Tmax

63
Tmin

54
Tavg

60
Depart

42
DewPoint

54
WetBulb

48
Heat

31
Cool

31
Sunrise

122
Sunset

119
CodeSum

98
Depth

2
Water1

1
SnowFall

4
PrecipTotal

168
StnPressure

104
SeaLevel

102
ResultSpeed

190
ResultDir

36
AvgSpeed

178
None